<launch>
    <arg name="PORT" default="/dev/ttyUSB0" />
    <arg name="BAUD" default="115200" />

    <arg name="PREFIX" default="vibration" />

    <arg name="TOPIC_INPUT" default="$(arg PREFIX)_next_footstep" />
    <arg name="TOPIC_COMMAND" default="$(arg PREFIX)_command" />
    <arg name="TOPIC_IMU" default="$(arg PREFIX)_imu" />

    <arg name="FRAME_IMU" default="$(arg PREFIX)_imu_frame" />
    <arg name="FRAME_MARKER" default="$(arg PREFIX)_marker_frame" />

    <arg name="USE_CONTROLLER_NODE" default="true" />

    <node
        name="$(arg PREFIX)_vibration_navigator_serial_node"
        pkg="rosserial_python"
        type="serial_node.py"
        output="screen"
        >
        <param name="~port" value="$(arg PORT)" />
        <param name="~baud" value="$(arg BAUD)" />

        <param name="~imu_frame_id" value="$(arg FRAME_IMU)" />

        <remap from="~commands" to="$(arg TOPIC_COMMAND)" />
        <remap from="~imu" to="$(arg TOPIC_IMU)" />
    </node>

    <node
        name="$(arg PREFIX)_vibration_controller_node"
        pkg="vibration_navigator_driver"
        type="vibration_controller_node"
        output="screen"
        if="$(arg USE_CONTROLLER_NODE)"
        >
        <remap from="~input" to="$(arg TOPIC_INPUT)" />
        <remap from="~output" to="$(arg TOPIC_COMMAND)" />

        <param name="~max_duration" value="10.0" />
        <param name="~num_spinthread" value="4" />

        <rosparam param="vibrator_config" subst_value="true">
            - frame_id: "$(arg FRAME_MARKER)"
              position:
                x: 0.0
                y: 0.0
                z: 0.0
              orientation:
                x: 0.0
                y: 0.0
                z: 0.0
                w: 1.0
        </rosparam>
    </node>
</launch>
